/* Quarto styling
.parameter {
  color: red;
  font-weight: bold;
}

td, th {
  line-height: 1.0;
  padding-top: 2px;
  padding-right: 15px;
  padding-bottom: 2px;
  padding-left: 15px;
}
th {
  background-color: lightgray;
}
td {
  border: 1px solid black;
}
.criteria-table td:last-child {
  font-weight: bold;
}
*/

/* Custom header colors and fonts */
.article h1,
.article h2,
.article h3 {
  font-family: 'Arial', serif;
  color: #d00000;
}

.article h1 {
  /* font-size: 2.5em; */
  /* font-weight: 800; */
}

.article h2 {
  font-size: 1.8em;
  margin-top: 2.5em;
}
