.parameter {
  color: red;
  font-weight: bold;
}
/* Table styling */
td, th {
  line-height: 1.0;
  padding-top: 2px;
  padding-right: 15px;
  padding-bottom: 2px;
  padding-left: 15px;
}
th {
  background-color: lightgray;
}
td {
  border: 1px solid black;
}
.criteria-table td:last-child {
  font-weight: bold;
}