---
suppress-bibliography: true
---

# {{ params.ecosystem_name }} {.unnumbered}

```{python}
#| echo: false
from IPython.display import Markdown, display

ecosystem_image = {
    'asset_id': '{{ params.ecosystem_image.asset_id | default(None)}}',
    'pixel_value': '{{ params.ecosystem_image.pixel_value | default(None)}}'
}
```

<!-- Authors -->
[Authors:]{.parameter}&nbsp;
{%- if params.authors %}
{{ params.authors | join(", ") }}
{%- else %}

::: {.callout-note}
The ecosystem assessment configuration file does not specify the **authors**.
Please add this information to the YAML configuration file, using the following format:
```yaml
authors:
  - "J. Smith"
  - "J. Pérez"
```
:::
{% endif %}

<!-- Local ecosystem names -->
{%- if params.ecosystem_names_local is defined %}
[Ecosystem names:]{.parameter}&nbsp;
    {%- if params.ecosystem_names_local %}
        {%- for item in params.ecosystem_names_local -%}
{{ item.name }} [{{ item.reference }}]{% if not loop.last %}, {% endif %}
        {%- endfor %}
    {%- endif %}
{%- else -%}
::: {.callout-note}
The ecosystem assessment configuration file does not specify the **local ecosystem names**.
Please add this information to the YAML configuration file, using the following format:
```yaml
ecosystem_names_local:
  - name: Ecosystem Name 1
    reference: "@bibtexReference1"
  - name: Ecosystem Name 2
    reference: "@bibtexReference2"
```
:::
{%- endif -%} {# if params.ecosystem_names_local is defined #}

<!-- Biome -->
[Biome:]{.parameter}&nbsp;
{%- if params.biome %}
[{{ params.biome }}](../../7_glossary.md)
{%- else %}

::: {.callout-note}
The ecosystem assessment configuration file does not specify the **biome**.
Please add this information to the YAML configuration file, using the following format:
```yaml
biome: Tropical and subtropical forests (T1)
```
:::
{% endif %}

<!-- Functional Group -->
[Functional Group:]{.parameter}&nbsp;
{%- if params.functional_group %}
[{{ params.functional_group }}](../../7_glossary.md)
{%- else %}

::: {.callout-note}
The ecosystem assessment configuration file does not specify the **functional group**.
Please add this information to the YAML configuration file, using the following format:
```yaml
functional_group: T1.1
```
:::
{% endif %}

<!-- Global classification -->
[Global classification:]{.parameter}&nbsp;
{%- if params.global_classification %}
{{ params.global_classification }}
{%- else %}

::: {.callout-note}
The ecosystem assessment configuration file does not specify the **global classification**.
Please add this information to the YAML configuration file, using the following format:
```yaml
global_classification: MMR-T1.1.3
```
:::
{% endif %}

<!-- IUCN Status -->
[IUCN Status:]{.parameter}&nbsp;
{%- if params.iucn_status %}
{{ params.iucn_status }}
{%- else %}

::: {.callout-note}
The ecosystem assessment configuration file does not specify the **IUCN status**.
Please add this information to the YAML configuration file, using the following format:
```yaml
iucn_status: Endangered
```
:::
{% endif %}

<!-- Ecosystem Photo -->
{%- if params.ecosystem_photo != None %}
[Ecosystem Photo:]{.parameter}&nbsp;
  {%- if params.ecosystem_photo is defined %}
    {%- if path_exists('content', '3_ecosystem_assessments', params.global_classification, params.ecosystem_photo) %}
![Photo of the ecosystem {{ params.ecosystem_name }}]({{params.ecosystem_photo}}){width=400px fig-align="center"}
    {%- else %}  {# if path_exists() #}
::: {.callout-important} Unable to find ecosystem photo image
Unable to find ecosystem photo image named:

**content/3_ecosystem_assessments/{{params.global_classification}}/{{params.ecosystem_photo}}**
:::
    {%- endif %} {# if path_exists() #}
  {%- else %}  {# if params.ecosystem_photo is defined #}
::: {.callout-warning}
The ecosystem assessment configuration file does not specify the **ecosystem photo**.
Please add this information to the YAML configuration file, using the following format:
```yaml
ecosystem_photo: {params.global_classification}/{params.ecosystem_photo}
```
:::
  {%- endif %}  {# if params.ecosystem_photo is defined #}
{%- else %}  {# if params.ecosystem_photo != None #}
{%- endif -%}  {# if params.ecosystem_photo != None #}

<!-- Ecosystem Map -->
{%- if params.ecosystem_map != None %}
[Ecosystem Map:]{.parameter}&nbsp;
    {%- if params.ecosystem_map is defined -%}
        {% if path_exists('content', '3_ecosystem_assessments', params.global_classification, params.ecosystem_map) %}
![Map of the ecosystem {{ params.ecosystem_name }}]({{params.ecosystem_map}}){width=400px fig-align="center"}
        {%- else %}  {# if path_exists() #}
::: {.callout-important} Unable to find ecosystem map image
Unable to find ecosystem photo image named:

**content/3_ecosystem_assessments/{{params.global_classification}}/{{params.ecosystem_map}}**
:::
        {%- endif %} {# if path_exists() #}
    {%- else %}  {# if params.ecosystem_map is defined #}
::: {.callout-warning}
The ecosystem assessment configuration file does not specify the **ecosystem map**.
Please add this information to the YAML configuration file, using the following format:
```yaml
ecosystem_map: {params.global_classification}/{params.ecosystem_map}
```

To suppress this warning, set the `show_ecosystem_map` parameter to `false` in the YAML configuration file:
```yaml
ecosystem_map: null
```
:::
    {% endif %}  {# if params.ecosystem_map is defined #}
{%- endif %}  {# if params.ecosystem_map != None #}

<!-- Description -->

{%- if path_exists('config', 'ecosystem_config', params.global_classification, 'description.md') %}
{%- set description_path = 'config/ecosystem_config/' + params.global_classification + '/description.md' %}
[Description:]{.parameter}&nbsp;{% include description_path %}
{% endif %}

<!-- Distribution -->
[Distribution:]{.parameter}&nbsp;
{%- if params.distribution %}
{{ params.distribution }}
{%- else %}
::: {.callout-note}
The ecosystem assessment configuration file does not specify the **ecosystem distribution**.
Please add this information to the YAML configuration file, using the following format:
```yaml
distribution: >
  The ecosystem distribution text goes here.
```
:::
{% endif %}

<!-- Characteristic Native Biota -->
[Characteristic Native Biota:]{.parameter}&nbsp;
{%- if params.characteristic_native_biota %}
{{ params.characteristic_native_biota }}
{%- else %}
::: {.callout-note}
The ecosystem assessment configuration file does not specify the ecosystem's **characteristic native biota**.
Please add this information to the YAML configuration file, using the following format:
```yaml
characteristic_native_biota: >
  The ecosystem's characteristic native biota text goes here.
```
:::
{% endif %}

<!-- Abiotic environment -->
[Abiotic environment:]{.parameter}&nbsp;
{%- if params.abiotic_environment %}
{{ params.abiotic_environment }}
{%- else %}
::: {.callout-note}
The ecosystem assessment configuration file does not specify the ecosystem's **abiotic environment**.
Please add this information to the YAML configuration file, using the following format:
```yaml
abiotic_environment: >
  The ecosystem's abiotic environment text goes here.
```
:::
{% endif %}

<!-- Key processes and interactions -->
[Key processes and interactions:]{.parameter}&nbsp;
{%- if params.key_processes_and_interactions %}
{{ params.key_processes_and_interactions }}
{%- else %}
::: {.callout-note}
The ecosystem assessment configuration file does not specify the ecosystem's **key processes and interactions**.
Please add this information to the YAML configuration file, using the following format:
```yaml
key_processes_and_interactions: >
  The ecosystem's key processes and interactions text goes here.
```
:::
{% endif %}

<!-- Major threats -->
[Major threats:]{.parameter}&nbsp;
{%- if params.major_threats %}
{{ params.major_threats }}  
{%- else %}
::: {.callout-note}
The ecosystem assessment configuration file does not specify the ecosystem's **major threats**.
Please add this information to the YAML configuration file, using the following format:
```yaml
major_threats: >
  The ecosystem's major threats text goes here.
```
:::
{% endif %}

<!-- Ecosystem collapse definition -->
[Ecosystem collapse definition:]{.parameter}&nbsp;
{%- if params.ecosystem_collapse_definition %}
{{ params.ecosystem_collapse_definition }}
{%- else %}
::: {.callout-note}
The ecosystem assessment configuration file does not specify the ecosystem's **ecosystem collapse definition**.
Please add this information to the YAML configuration file, using the following format:
```yaml
ecosystem_collapse_definition: >
  The ecosystem's ecosystem collapse definition text goes here.
```
:::
{% endif %}

<!-- Assessment summary -->
[Assessment summary:]{.parameter}&nbsp;
{%- if params.assessment_summary %}
**{{ params.assessment_summary|trim }}**
{%- else %}
::: {.callout-note}
The ecosystem assessment configuration file does not specify the ecosystem's **assessment summary**.
Please add this information to the YAML configuration file, using the following format:
```yaml
assessment_summary: >
  The ecosystem's assessment summary text goes here.
```
:::
{% endif %}

<!-- Assessment information -->
[Assessment information:]{.parameter}&nbsp;
{%- if params.criteria_status %}
<table class="criteria-table">
  <thead>
    <tr>
      <th colspan="2">Criteria</th>
      <th>Status</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td rowspan="4">Criterion A</td>
      <td>A1</td>
      <td>{{ params.criteria_status.A.A1 }}</td>
    </tr>
    <tr>
      <td>A2a</td>
      <td>{{ params.criteria_status.A.A2a }}</td>
    </tr>
    <tr>
      <td>A2b</td>
      <td>{{ params.criteria_status.A.A2b }}</td>
    </tr>
    <tr>
      <td>A3</td>
      <td>{{ params.criteria_status.A.A3 }}</td>
    </tr>
    <tr>
      <td rowspan="4">Criterion B</td>
      <td>B1</td>
      <td>{{ params.criteria_status.B.B1 }}</td>
    </tr>
    <tr>
      <td>B2</td>
      <td>{{ params.criteria_status.B.B2 }}</td>
    </tr>
    <tr>
      <td>subcriteria</td>
      <td>{{ params.criteria_status.B.subcriteria }}</td>
    </tr>
    <tr>
      <td>B3</td>
      <td>{{ params.criteria_status.B.B3 }}</td>
    </tr>
    <tr>
      <td rowspan="4">Criterion C</td>
      <td>C1</td>
      <td>{{ params.criteria_status.C.C1 }}</td>
    </tr>
    <tr>
      <td>C2a</td>
      <td>{{ params.criteria_status.C.C2a }}</td>
    </tr>
    <tr>
      <td>C2b</td>
      <td>{{ params.criteria_status.C.C2b }}</td>
    </tr>
    <tr>
      <td>C3</td>
      <td>{{ params.criteria_status.C.C3 }}</td>
    </tr>
    <tr>
      <td rowspan="4">Criterion D</td>
      <td>D1</td>
      <td>{{ params.criteria_status.D.D1 }}</td>
    </tr>
    <tr>
        <td>D2a</td>
        <td>{{ params.criteria_status.D.D2a }}</td>
      </tr>
      <tr>
        <td>D2b</td>
        <td>{{ params.criteria_status.D.D2b }}</td>
      </tr>
      <tr>
        <td>D3</td>
        <td>{{ params.criteria_status.D.D3 }}</td>
      </tr>
      <tr>
        <td>Criterion E</td>
        <td>E</td>
        <td>{{ params.criteria_status.E.E }}</td>
      </tr>
    </tbody>
  </table>
{%- else %}
::: {.callout-note}
The ecosystem assessment configuration file does not specify the ecosystem's **criteria status** information.
Please add this information to the YAML configuration file, using the following format:
```yaml
criteria_status:
  A:
    A1: STATUS
    A2a: STATUS
    A2b: STATUS
    A3: STATUS
  B:
    B1: STATUS
    B2: STATUS
    subcriteria: [subcriteria1, subcriteria2, ...]
    B3: STATUS
  C:
    C1: STATUS
    C2a: STATUS
    C2b: STATUS
    C3: STATUS
  D:
    D1: STATUS
    D2a: STATUS
    D2b: STATUS
    D3: STATUS
  E:
    E: STATUS
```
where `STATUS` is one of the following:

- NE - not evaluated
- DD - data deficient
- LC - least concern
- NT - near threatened
- VU - vulnerable
- EN - endangered
- CR - critically endangered
- CO - collapsed
:::
{% endif %}

<!-- Assessment outcome -->
[Assessment outcome:]{.parameter}&nbsp;
{%- if params.assessment_outcome %}
**{{ params.assessment_outcome|trim }}**
{%- else %}
::: {.callout-note}
The ecosystem assessment configuration file does not specify the ecosystem's **assessment outcome**.
Please add this information to the YAML configuration file, using the following format:
```yaml
assessment_outcome: >
  The ecosystem's assessment outcome text goes here.
```
:::
{% endif %}

<!-- Year published -->
[Year published:]{.parameter}&nbsp;
{%- if params.year_published %}
{{ params.year_published }}
{%- else %}
::: {.callout-note}
The ecosystem assessment configuration file does not specify the ecosystem's **year published**.
Please add this information to the YAML configuration file, using the following format:
```yaml
year_published: The ecosystem's year published goes here (e.g. 2020)
```
:::
{% endif %}


<!-- Date assessed -->
[Date assessed:]{.parameter}&nbsp;
{%- if params.year_published %}
{{ params.date_assessed }}
{%- else %}
::: {.callout-note}
The ecosystem assessment configuration file does not specify the ecosystem's **date assessed**.
Please add this information to the YAML configuration file, using the following format:
```yaml
date_assessed: The ecosystem's date assessed goes here (e.g. 24th January 2020)
```
:::
{% endif %}

<!-- Assessment credits -->
[Assessment credits:]{.parameter}&nbsp;
{%- if params.assessment_credits %}
{% if params.assessment_credits.assessed_by %}
Assessed by: {{ params.assessment_credits.assessed_by }}
{%- endif %}
{% if params.assessment_credits.reviewed_by %}
Reviewed by: {{ params.assessment_credits.reviewed_by }}
{%- endif %}
{% if params.assessment_credits.contributions_by %}
Contributions by: {{ params.assessment_credits.contributions_by }}
{%- endif %}
{%- else %}
::: {.callout-note}
The ecosystem assessment configuration file does not specify the ecosystem's **assessment credits**.
Please add this information to the YAML configuration file, using the following format:
```yaml
assessment_credits:
  assessed_by: Jane Smith
  reviewed_by: Jose Pérez
  contributions_by: Kevin Bacon
```
:::
{% endif %}

<!-- Criterion A -->
[[Criterion A](../../7_glossary.md#criterion-a):]{.parameter}&nbsp;
{%- if params.criterion_a_description %}
{{ params.criterion_a_description }}
{%- else %}
::: {.callout-note}
The ecosystem assessment configuration file does not specify the ecosystem's **criterion A description**.
Please add this information to the YAML configuration file, using the following format:
```yaml
criterion_a_description: >
  The ecosystem's criterion A description text goes here.
```
:::
{% endif %}

<!-- Criterion B -->
[[Criterion B](../../7_glossary.md#criterion-b):]{.parameter}&nbsp;{embed}`mmr-t1.1.1-crit-b-summary`
{% if params.criterion_b_description %}
{{ params.criterion_b_description }}
{%- else %}
::: {.callout-note}
The ecosystem assessment configuration file does not specify the ecosystem's **criterion B description**.
Please add this information to the YAML configuration file, using the following format:
```yaml
criterion_b_description: >
  The ecosystem's criterion B description text goes here.
```
:::
{% endif %}

<!-- Criterion C -->
[[Criterion C](../../7_glossary.md#criterion-c):]{.parameter}&nbsp;
{%- if params.criterion_c_description %}
{{ params.criterion_c_description }}
{%- else %}
::: {.callout-note}
The ecosystem assessment configuration file does not specify the ecosystem's **criterion C description**.
Please add this information to the YAML configuration file, using the following format:
```yaml
criterion_c_description: >
  The ecosystem's criterion C description text goes here.
```
:::
{% endif %}

<!-- Criterion D -->
[[Criterion D](../../7_glossary.md#criterion-d):]{.parameter}&nbsp;
{%- if params.criterion_d_description %}
{{ params.criterion_d_description }}
{%- else %}
::: {.callout-note}
The ecosystem assessment configuration file does not specify the ecosystem's **criterion D description**.
Please add this information to the YAML configuration file, using the following format:
```yaml
criterion_d_description: >
  The ecosystem's criterion D description text goes here.
```
:::
{% endif %}

<!-- Criterion E -->
[[Criterion E](../../7_glossary.md#criterion-e):]{.parameter}&nbsp;
{%- if params.criterion_e_description %}
{{ params.criterion_e_description }}
{%- else %}
::: {.callout-note}
The ecosystem assessment configuration file does not specify the ecosystem's **criterion E description**.
Please add this information to the YAML configuration file, using the following format:
```yaml
criterion_e_description: >
  The ecosystem's criterion E description text goes here.
```
:::
{% endif %}